body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(
    to right,
    #dbeafe,
    #eff6ff
  );
}

.login-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-box{
  background:white;
  padding:40px;
  width:700px;
  border-radius:15px;
  box-shadow:0 0 20px rgba(37,99,235,0.3);
  border-top:8px solid #2563eb;
}

.login-box h1{
  text-align:center;
  color:#2563eb;
  margin-bottom:30px;
}

.row{
  display:flex;
  align-items:center;
  margin-bottom:22px;
}

.row label{
  width:180px;
  font-weight:bold;
  color:#1e3a8a;
}

.row input{
  flex:1;
  padding:12px;
  background:black;
  color:white;
  border:1px solid #93c5fd;
  border-radius:8px;
  outline:none;
}

.row input:focus{
  border-color:#2563eb;
  box-shadow:0 0 8px rgba(37,99,235,0.3);
}

.error{
  width:200px;
  margin-left:15px;
  color:red;
  font-size:14px;
  font-weight:bold;
}

button{
  width:100%;
  padding:14px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:8px;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  background:#1d4ed8;
}

.links{
  margin-top:20px;
  display:flex;
  justify-content:space-between;
}

.links a,
.register-link a{
  text-decoration:none;
  color:#2563eb;
  font-weight:bold;
}

.register-link{
  margin-top:20px;
  text-align:center;
}

.message{
  text-align:center;
  font-weight:bold;
  margin-bottom:20px;
  color:green;
}