body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(
    to right,
    #dbeafe,
    #eff6ff
  );
}

.register-container{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  padding:30px;
}

.register-box{
  background:white;
  padding:40px;
  width:850px;
  border-radius:15px;
  box-shadow:0 0 20px rgba(37,99,235,0.3);
  border-top:8px solid #2563eb;
}

.register-box h1{
  text-align:center;
  color:#2563eb;
  margin-bottom:35px;
  font-size:34px;
}

.row{
  display:flex;
  align-items:center;
  margin-bottom:22px;
}

.row label{
  width:230px;
  font-weight:bold;
  color:#1e3a8a;
  font-size:16px;
}

.row input,
.row select{
  flex:1;
  padding:12px;
  border:1px solid #93c5fd;
  border-radius:8px;
  font-size:15px;
  outline:none;
  transition:0.3s;
  background:#000000;
  color:white;
}

.row input:focus,
.row select:focus{
  border-color:#2563eb;
  box-shadow:0 0 8px rgba(37,99,235,0.3);
}

.row input::placeholder{
  color:#d1d5db;
}

.error{
  width:240px;
  margin-left:15px;
  color:#dc2626;
  font-size:14px;
  font-weight:bold;
}

button{
  width:100%;
  padding:14px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:8px;
  font-size:17px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#1d4ed8;
}

.success-message{
  text-align:center;
  color:#15803d;
  font-weight:bold;
  margin-bottom:20px;
  font-size:16px;
}