body{
    font-family: Arial, sans-serif;
    background-color: #a83c3c;
}

.container{
    width: 700px;
    margin: 30px auto;
    background-color: rgb(18, 9, 9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label{
    width: 220px;
    font-size: 18px;
}

input{
    width: 300px;
    padding: 8px;
    font-size: 16px;
}

p{
    color: red;
    margin-left: 220px;
    width: 400px;
    font-size: 14px;
}

button{
    margin-left: 250px;
    padding: 10px 30px;
    font-size: 18px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: darkblue;
}

span{
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.error-input{
    border: 2px solid red;
    outline: none;
}