body{
  margin:0;
  font-family:Arial,sans-serif;

  background:
  linear-gradient(
    135deg,
    #0f172a,
    #1e3a8a
  );
}

.change-container{
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;
}

.change-box{

  width:650px;

  background:#111827;

  color:white;

  padding:40px;

  border-radius:20px;

  box-shadow:
  0 0 30px
  rgba(37,99,235,.3);
}

.change-box h1{

  text-align:center;

  color:#60a5fa;

  margin-bottom:30px;
}

.row{
  display:flex;
  align-items:center;
  margin-bottom:25px;
}

.row label{
  width:180px;
  font-weight:bold;
  font-size:18px;
}

.row input{

  flex:1;
  min-width:320px;
  height:55px;

  background:#1e293b;

  color:white;

  border:1px solid #475569;

  padding:0 15px;
  font-size:18px;
  border-radius:10px;
}

.row input:focus{
  outline:none;
  border-color:#3b82f6;
}

.error{
  width:150px;
  margin-left:10px;
  color:#ef4444;
  font-size:14px;
}

button{
  width:100%;
  height:60px;

  background:#2563eb;

  color:white;

  border:none;

  border-radius:12px;

  font-size:20px;

  cursor:pointer;
}

button:hover{
  background:#1d4ed8;
}

.success-message{
  text-align:center;
  margin-bottom:15px;
  color:#22c55e;
  font-weight:bold;
}

.error-message{
  text-align:center;
  margin-bottom:15px;
  color:#ef4444;
  font-weight:bold;
}